body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #434343;
    color: #ffffff;
}

.basic-style{
    width: 60%;
    background-color: #303030;
    border-radius: 32px;
    border: 1px solid #747474;

    margin-block: 15px;

}

.header{
    padding: 15px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: calc(60% + 30px);
    gap: 20px;
}

.item{
    width: 100%;
    height: 200px;
    margin-block: 0;
}