body{
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    background-color: #434343;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.game-board{
    width: 150px;
    height: 150px;
    transform: scale(4);
    background-color: #747474;
    transform-origin: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 2px;
    box-shadow: 0px 8px 20px #0000004b;
    border-radius: 16px;
    overflow: hidden;
}

.game-board p{
    user-select: none;
    text-align: center;
    justify-content: center;
    color: #b6b6b6;
    background-color: #303030;
    margin: 0;
    font-size: 40px;

    transition: background-color 0.4s ease, color 0.4s ease;
}

.game-board p:hover{
    background-color: #444444;
    color: #ffffff;
}

#win_screen{
    user-select: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    pointer-events: none;

    opacity: 0;
    background: #24242454;
    backdrop-filter: blur(10px);

    color: #b6b6b6;

    transition: opacity 1.0s ease, filter 1.0s ease;
}

#win_screen.show{
    opacity: 1;
    filter: blur(0);
    pointer-events: auto;
}

#win_screen h1{
    font-size: 450%;
}