body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #434343;
    color: #ffffff;
}

.basic-style{
    width: 1070px;
    background-color: #303030;
    border-radius: 32px;
    border: 1px solid #747474;

    margin-block: 15px;

}

.header{
    padding: 15px;
}

.filters{
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 1070px;
}

.filters-title{
    display: flex;
    align-items: center;
}

.filters button{
    background-color: #303030;
    border: 1px solid #747474;
    color: #ffffff;
    border-radius: 16px;
    width: 120px;
    height: 40px;
    margin-inline: 10px;
}

.filters button:hover{
    background-color: #434343;
}

#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1100px;
    gap: 20px;
}

.item{
    width: 100%;
    height: 420px;
    margin-block: 0;
    overflow: hidden;
}

.item-text-section{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    padding-left: 15px;
}

.item h2{
    margin: 0;
}

.item p{
    margin: 0;
    margin-top: 10px;
}

.item img{
    width: 100%;
    height: auto;
}